body {
    font-size: 16px;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #21243D;
}
p,h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none
}
.container {
    margin: 0 auto;
    max-width: 856px;
}