.color_blue {
    color: #00A8CC;
}
.d-flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/*  backgrounds color  */
.bg_blue {
    background: #EDF7FA;
}
.bg_white {
    background: #FFFFFF;
}
/*  end  */

/*  sections  */
.section_style {
    padding: 30px;
}
.section-title{
    font-size: 22px;
}
.section-title-block {
    margin-bottom: 10px;
}
/*  end  */

/*  Recent posts card  */
.section_block {
    width: 49%;
    padding: 25px 20px;
    box-sizing: border-box;
}
.section_block h2 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 700;
}
.palochka{
    margin: 0 15px;
}
.post_date {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 200;
}
.post_description {
    font-size: 15px;
    font-weight: 300;
    line-height: 23.5px;
}
/* End */

/*header*/
.header {
    padding: 10px 60px;

}
.header nav a {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    color: #000000;
    margin-left: 33px;
}
.header nav a.active {
    color: red;
}